h1{
    text-align: center;
  }
  .menu{
    color: white;
    padding: 40px;
    font-size: 20px;
    background-image: url(imagenes/cabecera.jpg);
      
  }
  .link{
      padding-left: 70%;
  }
  a{
      padding: 10px;
  }
  .imagenes img{
      width: 70px;
      height: 70px;  
      border-radius: 30px;
  }
  .entrada{
    font-size: 18px;
    margin-bottom: 40px;
  }
  input[type="text"],
          input[type="email"],
          input[type="text"],
          textarea {
            width: 100%;
            padding: 10px;
            font-size: 50px;
            background-color:  rgba(123, 122, 120, 0.501);
          }
  label {
    font-size: 20px; 
  }
  .footer{
      background-color: black;
      color: white;
      padding: 50px;
      text-align: center;
  }